@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
  /*background-color:#F9F9F9;*/
  background-color:#EEEEEE;




}
/* navbar starts */
.logo{
  width: 50px;
  height: 40px;
}
.collapse ul{
  margin-right: 110px;
  justify-content: start;

}

.collapse ul li a{
 
  color: #4288C8;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  
}
.container-fluid .navbar-brand{
  color: #4288c8;
}

.navbar{
  background-color: #fff;

  /*position: fixed;*/


}



.container-fluid .navbar-brand{
  margin-left: 30px;
  font-weight: 600;
}

.container-fluid .d-grid button i{
font-size: 15px;
color: #fff;
margin-left: 0px;
}

.navbar-toggler-icon{
  color: #4288C8;
 
}
/* navbar ends */


.container{
  display: flex;
  flex-wrap: wrap;
}




/* The flip card container*/
.flip-card {
  width: 200px;
  height: 360px;
  perspective: 1000px; 
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
  text-align: end;


}

/* This container is the front and back side */
.flip-card-inner {
  position: absolute;
  width: 200px;
  height: 360px;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin-left: 10px;

  border-radius: 20px;
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 200px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
  color: rgb(11, 10, 10);
  background-size: 180% 180%;
  background-color:#bbd7f1 ;
 
}


.flip-card-front img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 15px;
 cursor: pointer;
}

.flip-card-front i{
  margin-top: 10px;
}
.back {
  margin-top: 80px;
}


.social{
  margin-top: 5px;
  margin-right: 18px;
  margin-bottom: 10px;
  

}
.social a{
  text-decoration: none;
  color:#fff;
  margin-left: 10px;
  font-size: 30px;

  
}
.social a:hover{
  color: #09b4ed;
  
}

h3{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .2px;
  margin-top: 40px;
  

}
h2{
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .5px;
  margin-top: 15px;
  

}
h4{
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .3px;
  margin-top: 20px;
  

}
h1{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .5px;
  margin-top: 40px;
  margin-bottom: 25px;
  text-decoration: underline;
  

}
p{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .4px;
  margin-bottom: 40px;
  margin-top: 5px;
}



/* Style the back side */
.flip-card-back {

  color: black;
  transform: rotateY(180deg);
  
}

.mansour, .abdul-moiz, .nicolas, .abdul-sami{
  margin-top: 25px;
}

.shantosh, .nabeel, .abdul-rahman{
  margin-top: 20px;
}
.kevin, .zaid, .prince-khunt{
  margin-top: 15px;
}
.prince-khunt{
  margin-bottom: 20px;
}

@media only screen and (min-width: 1300px) {
  .iam-team, .cyber-team{
    margin-left: 100px;
    margin-right: 200px;
  }
 
}

@media only screen and (max-width: 570px) {
  .flip-card{
    margin-left: 170px;
  
}
.row{
  justify-content: center;
  align-items: center;
  text-align: center;
}

}

@media only screen and (min-width: 430px) and (max-width: 559px){
  .flip-card{
    margin-left:80px;
  
}
.row{
  justify-content: center;
  align-items: center;
  text-align: center;
}

}

@media only screen and (max-width: 430px) {
  .flip-card{
    margin-left:40px;
  
}
.leadership{
  margin-right: 60px;
}

}

@media only screen and (max-width: 280px) {
  .flip-card{
    margin-right:50px;
  
}
.leadership{
  margin-left: 40px;
}
.cyber-team{
  margin-right: 10px;
  margin-left: 0px;
 
}

}
